*{
    margin: 0;
    padding: 0;
}

body{
    background: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    padding: 24px 32px;
    font-size: 3rem;
    background: whitesmoke;
}
